.accepted-cards {
	display: none;
	@media screen and (min-width: 641px) {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 70px;
		background-color: rgb(247, 247, 247);
		color: rgb(116, 116, 116);

		.card {
			height: 25px;
			width: 40px;
			list-style: none;
			background-size: cover !important;
		}
		.card-visa {
			background: url(./images/cards_sprite.png) 0 0;
		}
		.card-mastercard {
			background: url(./images/cards_sprite.png) -45px 0;
		}
		.card-paypal {
			background: url(./images/cards_sprite.png) -90px 0;
		}
		.card-american-express {
			background: url(./images/cards_sprite.png) -135px 0;
		}
		.card-visa-electron {
			background: url(./images/cards_sprite.png) -180px 0;
		}
		.card-layer {
			background: url(./images/cards_sprite.png) -226px 0;
		}
		.card-maestro {
			background: url(./images/cards_sprite.png) -272px 0;
		}
		.card-delta {
			background: url(./images/cards_sprite.png) -318px 0;;
		}
		.card-solo {
			background: url(./images/cards_sprite.png) -364px 0;
		}
		.card-ideal {
			background: url(./images/cards_sprite.png) -410px 0;
		}
		.card-dk {
			background: url(./images/cards_sprite.png) -456px 0;
		}
	}
	
}