.clothes-carousel {
	display: none;
	@media screen and (min-width: 641px) {
		display: flex;
		flex-wrap: wrap;
		text-align: center;
		margin-top: 60px;
		background-color: $mainThemeColor;
		.switch-tabs-panel {
			position: relative;
			top: -30px;
			button {
				background-color: white;
				box-sizing: border-box;
				width: 100px;
				height: 30px;
				border: none;
				color: gray;
				&:nth-child(1) {
					background-color: $mainThemeColor;
				}
			}
		}
		.clothes-gallery {
			display: flex;
			width: 100%;
		}
		figure.carousel-item {
			display: block;
			.carousel-cloth {
				position: relative;
				width: 150px;
				height: 300px;
				display: block;
				margin: 10px auto 20px auto;
			}
			.carousel-item-caption {
				position: absolute;
				display: flex;
				flex-direction: column;
				align-items: center;
				padding: 5%;
				width: 150px;
				right: 0;
				left: 0;
				bottom: -10px;
				margin: auto;
				background-color: white;
				font-size: 10px;
				.price {
					font-weight: solid;
					font-size: 14px;
					margin: 1px 0;
				}
				.add-to-cart-btn {
					background-color: $mainThemeColor;
					color: white;
					border: none;
					border-bottom: solid 2px darken($mainThemeColor, 10%);
					width: 65%;
					&:after {
						content: "+";
						color: white;
						font-weight: bold;
					}
				}
			}
		}
	}
}
