.feedback-panel {
	display: none;
	@extend .fab;
	@media screen and (min-width: 641px) {
		padding-left: 3%;
		padding-right: 3%;
		height: 50px;
		color: rgb(116, 116, 116);
		background-color: rgb(237, 237, 237);
		display: flex;
		align-items: center;
		font-size: 0.8rem;
		.feedback-panel-label {
			flex: 2;
		}
		.email-input {
			flex: 3;
			form {
				display: flex;
				input {
					width: 80%;
				}
				.plus {
					width: 25px;
					border: none;
					border-bottom: 2px solid;
					background-color: $mainThemeColor;
					border-bottom-color: darken($mainThemeColor, 10%);
					cursor: pointer;
					&:after {
						content: "+";
						color: white;
						font-weight: bold;
						font-size: 1.5em;
					}
					&:hover {
						background-color: darken($mainThemeColor, 10%);
					}
				}
			}
		}
		.gap-column {
			flex: 3;
		}

		@each $icon in facebook, twitter, pinterest {
			.#{$icon} {
				flex: 1;
				text-align: center;
				line-height: 2;
				border: none;
				height: 100%;
				padding-left: 5px;
				padding-right: 5px;
				font-size: 150%;
				cursor: pointer;
 				@if $icon == facebook {
					@include social($fa-var-facebook-f, rgb(247, 247, 247));
				}
				@else if $icon == twitter {
					@include social($fa-var-twitter, rgb(237, 237, 237));
				}
				@else {
					@include social($fa-var-pinterest, rgb(247, 247, 247));
				} 
			}
		}
	}
	@media screen and (min-width: 769px) {
		font-size: 1rem;
		padding-left: 10%;
		padding-right: 10%;
	}
}

