@mixin headerTextsFields {
	align-items: center;
	margin-bottom: 12px;
	font-size: 20px;
	height: 50px;
	display: flex;
	width: 100%;
	box-sizing: border-box;
	padding: 0 3%;
	font-family: $mainFont;
	.left-side {
		flex: 1;
		text-align: left;
	}
	.right-side {
		flex: 1;
		text-align: right;
	}
}

@mixin topBanner {
	display: block;
	div:nth-child(1), div:nth-child(5), div:nth-child(9) {
		background-image: url("./images/top_banner_image_1.jpg");
		background-size: cover;
	}
	div:nth-child(2), div:nth-child(6) {
		background-image: url("./images/top_banner_image_2.jpg");
		background-size: cover;
	}
	div:nth-child(3), div:nth-child(7) {
		background-image: url("./images/top_banner_image_3.jpg");
		background-size: cover;
	}
	div:nth-child(4), div:nth-child(8) {
		background-image: url("./images/top_banner_image_4.jpg");
		background-size: cover;
	}
	.slick-dots li button {
		&:before {
			content: "•";
			color: $mainThemeColor;
		}
	}
}

@mixin topBannerText {
	margin-top: 0;
	margin-bottom: 0;
	text-align: center;
}

@mixin social($args...) {
	background-color: nth($args, 2);
	&:hover {
		background-color: darken(nth($args, 2), 20%);
		a {
			text-decoration: none;
			color: white;
		}
	}
	a {
		color: rgb(116, 116, 116);
		&:after {
			font-family: 'Font Awesome 5 Brands';
			content: fa-content(nth($args, 1));
		}
	}
}

@mixin expander {
	&:after {
		color: white;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		content: fa-content($fa-var-bars);
	}
}

@mixin expanderMenuList {
	display: none;
	a {
		display: flex;
		align-items: center;
		padding-left: 3%;
		color: white;
		height: 50px;
		background-color: rgba(0,0,0,0.7);
		text-decoration: none;
		&:hover {
			background-color: darken(rgba(0,0,0,0.8), 20%);
		}
	}
	&:hover {
		@include hoverExpanderButton;
	}
}

@mixin hoverExpanderButton {
	text-align: left;
	display: block;
	width: 100%;
	position: absolute;
	z-index: 10;
}