.top-banner {
	display: none;
	z-index: 1;
	@media screen and (min-width: 641px) {
		div {
			height: 400px;
			
		}
		div.banner-page {
			display: flex;
			aside {
				display: flex;
				flex: 1;
				h3 {
					@include topBannerText;
					font-family: $topBannerLine1;
					margin-top: 20%;
					&:before, &:after {
						content: "---";
					}
				}
				h1 {
					@include topBannerText;
					font-size: 60px;
					font-weight: 800;
					font-family: $topBannerLine2;
					line-height: 0.9;
					margin-top: 0;
					margin-bottom: 0;
					background: linear-gradient(to right, #cdb0d5 0%, #f4a755 100%);
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
				hr {
					@include topBannerText;
				}
				h2 {
					@include topBannerText;
					font-family: $mainFont;
					color: rgb(171, 158, 151);
				}
				button {
					@include topBannerText;
					background-color: $mainThemeColor;
					box-sizing: border-box;
					width: 100px;
					height: 50px;
					border: none;
					border-bottom: solid 2px darken($mainThemeColor, 10%);
					color: white;
					margin: auto;
					margin-top: 0;
				}
			}
			aside.banner-page-text-part {
				flex-direction: column;
			}
		}
		@include topBanner;
	}
	@media screen and (min-width: 769px) {
		div {
			height: 500px;
		}
		@include topBanner;
	}
	.slick-list {
		z-index: 1;
	}

	.slick-arrow {
		z-index: 2;
		height: 100px;
		background-color: white;
	}
	button.slick-prev {
		left: 0;
  		@extend .fas;
		&:before {
			font-family: 'Font Awesome 5 Free';
			content: fa-content($fa-var-angle-left);
			color: rgb(203, 203, 202);
		}
	}
	button.slick-next {
		right: 0;
		@extend .fas;
		&:before {
			font-family: 'Font Awesome 5 Free';
			content: fa-content($fa-var-angle-right);
			color: rgb(203, 203, 202);
		}
	}
}
